div > h1 




@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
         url('./../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
         url('./../fonts/fraunces-v10-latin-900.woff') format('woff'); 
  }

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
         url('./../fonts/barlow-v5-latin-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./../fonts/barlow-v5-latin-700.woff2') format('woff2'),
         url('./../fonts/barlow-v5-latin-700.woff') format('woff'); 
  }

*{
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Fraunces', 'sans-serif';
}

h1{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

.header{
    margin-top: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.header__logo {
    width: 236px;
    height: 26px;
    vertical-align: middle;
}

.header__nav {
    margin-right: -16px;
    margin-left: -16px;
}

.nav__link {
    font-family: Barlow;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
    margin-right: 16px;
    margin-left: 16px;
}

.nav__link-hover:hover{
    color: #333D4B;
}

/* _____Main_____ */

.hero {
    margin-bottom: 236px;
}

.hero__container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-image: url(./../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__inner {
    max-width: 493px;
    margin-left: 86px;
    padding-top: 117px ;
    padding-bottom: 116px;
}

.hero__hidden {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero__text{
    max-width: 435px;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-bottom: 56px;
}

.button {
    padding: 15px 31px 16px 31px;
    background: #0E8784;
    border-radius: 6px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
}

.hero__button-hover:hover{
    background: #66D2CF;
}

/* ____OUR COLLECTION_____ */

.collection{
    margin-bottom: 200px;
}

.collection__container {
    display: flex;
    align-items: center;
    background-image: url("./../images/background-types-coffee.png");
    background-repeat: no-repeat;
    background-position: calc(50%) -62px;
    padding-top: 62px;
}  

.collection__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto; 
    margin-left: auto;
}

.collection__item {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px; 
    margin-left: 15px;
}

.collection__item__image {
    width: 255px;
    height: 193px;
    margin-bottom: 67px;
}

.collection__hidden  {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    color: #333D4B;
}

.collection__text {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* ____SERVISES____ */

.servises {
    margin-bottom: 380px;
}

.servises__container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282F38;
    border-radius: 8px;
}

.servises__hidden {
    margin: 0;
    padding: 0;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32px;
    margin-top: 100px;
}

.servises__text {
    max-width: 540px;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color:#FEFCF7;
    opacity: 0.8;
    margin-bottom: 86px;
}

.servises__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: -180px;  
}

.servises__item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    padding: 72px 48px 48px 47px;
    background-color: #0E8784;
    border-radius: 8px;
}

.servises__logo1 {
    max-width: 71px;
    height: 72px;
}

.servises__logo2 {
    max-width: 72px;
    height: 72px;
}

.servises__logo3 {
    max-width: 72px;
    height: 50px;
}

.servises__item-hidden{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;    
    text-align: center;
    color: #FEFCF7;
}

.servises__item-text {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

/* ____Footer____ */

.footer{
    margin-bottom: 135px;
}

.footer__container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    background-color:#2C343E;
    padding: 47px 85px 49px 85px; 
}

.footer__left-side {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__logo-link{
    text-decoration: none;
    margin-right: 103px;
}

.footer__logo-image{
    width: 236px;
    height: 26px;
    vertical-align: middle;
}

.footer__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.footer__item {
    margin-right: 16px;
    margin-left: 16px;
    list-style-type: none;
}

.footer__item-link {
    text-decoration: none;
    font-family: Barlow;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.footer__item-link-hover:hover{
    color: #FEFCF7;
}

.footer__right-side {
    max-width: 168px;
    margin-right: -12px;
}

.footer__app-link {
    margin-right: 12px;
    margin-left: 12px;
}

.right-side__image{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}  