/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
         url('./../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
         url('./../fonts/fraunces-v10-latin-900.woff') format('woff'); 
  }

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
         url('./../fonts/barlow-v5-latin-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./../fonts/barlow-v5-latin-700.woff2') format('woff2'),
         url('./../fonts/barlow-v5-latin-700.woff') format('woff'); 
  }

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Fraunces', 'sans-serif';
}

.header{
    margin-top: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 44px;
}

.header-image-logo {
    width: 236px;
    height: 26px;
    vertical-align: middle;
}

.navigate {
    margin-right: -16px;
    margin-left: -16px;
}

.navigate-link {
    font-family: Barlow;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
    margin-right: 16px;
    margin-left: 16px;
}

/* _____Main_____ */

.hero {
    margin-bottom: 236px;

}

.hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1280px 600px;
    height: 600px;

}

.hero-inner {
    max-width: 493px;
    margin-left: 86px;
}

.hero-hidden {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.hero-text{
    max-width: 435px;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-bottom: 56px;
}

.button {
    padding: 15px 31px 16px 31px;
    background: #0E8784;
    border-radius: 6px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #FEFCF7;
}

/* ____Types of coffee_____ */

.types-coffee-section {
    margin-bottom: 200px;
    
}

.container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(./../images/background-types-coffee.png);
    background-repeat: no-repeat;
    background-position: calc(50%) 0; 
}  

.types-coffee-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: auto; 
    margin-left: auto;
    padding-top: 62px;
}

.types-coffe-item {
    max-width: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 15px; 
    margin-left: 15px;
}

.pack-coffee-image {
    width: 255px;
    height: 193px;
    margin-bottom: 67px;
}

.name-coffee {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    color: #333D4B;
}

.about-coffee {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}




